body { padding: 0; margin: 0 }
#unity-container { position: absolute }
/*#unity-container.unity-desktop { left: 50%; bottom: 50%; transform: translate(-50%, -50%) }*/
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: url('menu1.png') }
#.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 48%; top: 85%; transform: translate(-50%, -50%); display: none }
#unity-webgl-logo { position: absolute; left: 48%; top: 10%; transform: translate(-50%, -50%) }
#unity-fullscreen-button {position: absolute; left: 98%;top: 10%; transform: translate(-50%, -50%) }
/*#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }*/
#unity-progress-bar-empty { width: 320px; height: 45px; margin-bottom: -160px; background: url('back_1.png') no-repeat center }	
#unity-progress-bar-full {width: 320px; height: 45px; margin-bottom: -160px; background: url('load_1.png') no-repeat center }
#unity-footer { position: relative }
#text-game
{ 
	font-size: 32px;
	font-family: sans-serif;
	background-color : gray;
	color: green;
}
#backgroundt
{ 
width: 9000;
 height: 9000;
	font-size: 2000px;
	font-family: sans-serif;
	background-color : gray;
	color: red;
}
#.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 925px; height: 38px; background: url('header_0.png') }
#unity-fullscreen-button { float: right; width: 38px; height: 38px;  background: url('fullscreen_kbz.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
